@*
 * Template for displaying group results
 *@
@import shared.model.GroupTT  
@import clientviews.component.basis.html._

@(group: GroupTT)(implicit ucc: UseCaseConf)

<div class="card" style="border:none;">
	<strong>@{group.name}</strong>
	<table class="table table-bordered table-sm groupresult">
		<thead>
			<tr>
				<th class="playernumber" scope="col">#</th>
				<th class="playername@{group.size}" scope="col">getMsg("group.name")Name</th>
				@for(i <- 1 to group.size) { <th class="playernumber" scope="col">@i</th> }
				<th class="playerballs"  scope="col">getMsg("group.balls")Bälle</th>
				<th class="playersets"   scope="col">getMsg("group.sets") Sätze</th>
				<th class="playergames"  scope="col">getMsg("group.games")Spiele</th>
				<th class="playerpos"    scope="col">getMsg("group.position")Platz</th>
			</tr>
		</thead>
		<tbody class="groupresult">
			@for(i <- 1 to group.size) {
				<tr>
					<td class="playernumber">@i</td>
					<td><p class="playername">@{group.player(i-1)._2}</p><p class="playerclub"><small>@{group.player(i-1)._3}</small></p></td>
					@for(j <- 1 to group.size) {
						@if(i==j){
              <td class="noresult"></td>
						} else {
              <td class="result">x:x</td>
						}
					}					
					<td class="result">350:420</td>
					<td class="result">36:22</td>
					<td class="result">12:0:</td>
					<td class="position">@{group.player(i-1)._4}</td>	
				</tr>
		  }
		</tbody>
	</table>
</div>




		
		