@*
 *  EMail successful register club/user
 *@
@(licCode: String, lang: String)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

@if(lang == "de") {
Hallo liebe Sportsfreunde,
                            
anbei der Lizenzstring (= <VereinsnameAbkürzung/Lizenzcode>). Diesen unten stehenden gesamten String 
einfach mit cut/paste ins Setup-Menue eintragen. Die Datei kann dann gespeichert und beliebig 
für jedes Turnier kopiert werden (es gibt keinen Kopierschutz o.ä.).
         
  @licCode
         
Der Lizenzstring funktioniert bei der Std und bei der Pro-Version. Achtung, die Pro Version 
ist noch eine Beta Version, es gibt noch kein Handbuch dazu, aber es sollte eigentlich 
vieles/alles selbsterklärend sein. Falls Ihr Anregung zur Verbesserung habt oder (weitere) 
Fehler bemerkt bitte meldet Euch. DANKE! 
       
Sportliche Grüße und viel Erfolg bei Euren Turnieren</p>
Robert / TTC Freising
} else {
Hallo liebe Sportsfreunde,
                            
anbei der Lizenzstring (= <VereinsnameAbkürzung/Lizenzcode>). Diesen unten stehenden gesamten String 
einfach mit cut/paste ins Setup-Menue eintragen. Die Datei kann dann gespeichert und beliebig 
für jedes Turnier kopiert werden (es gibt keinen Kopierschutz o.ä.).
         
  @licCode
         
Der Lizenzstring funktioniert bei der Std und bei der Pro-Version. Achtung, die Pro Version 
ist noch eine Beta Version, es gibt noch kein Handbuch dazu, aber es sollte eigentlich 
vieles/alles selbsterklärend sein. Falls Ihr Anregung zur Verbesserung habt oder (weitere) 
Fehler bemerkt bitte meldet Euch. DANKE! 
       
Sportliche Grüße und viel Erfolg bei Euren Turnieren</p>
Robert / TTC Freising
}
