@*
 *  Email sending new password
 *@
@(name: String, code: String, lang: String, html: Boolean)(implicit request: RequestHeader, msgs: MessagesProvider, assetsFinder: AssetsFinder)
@msg(name: String, args: String*) = @{ msgs.messages("email.password." + name, args: _*) }

@if(!html){
  @msg("greeting", name)
  @msg("body.plain", code)
}else{
<!DOCTYPE html>
<html lang=@lang>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@msg("title")</title>
  </head>
  <body style="margin:5; padding:5;">
    <p>@msg("greeting", name)</p>
    @Html(msg("body.html", code))
  </body>
</html>
}