@*
 * Template for password input
 *@

@import shared.utils.UseCaseParam  
@import shared.utils.twirlhelper._
@import clientviews.component.helper.html._  

@(name: String, checkEqualWithId:String="",  lbl: String="input.password.lbl", hlp: String="input.password.hlp",  _class: String="")(implicit ucp: UseCaseParam)
@eventPassword(_event:String,id:String)=@{ Html(_eventPassword(_event,id)) }	
@eventShowPassword(eyeId: String)=@{ Html(_eventShowPassword(eyeId)) }	

@{ if (lbl!="") Html(_lblFor(name, "mb-0", lbl)) }
<div class="input-group">
  <input @id(name) class="form-control @{_class}" type="password" @eventPassword("onchange",checkEqualWithId) @eventPassword("oninput",checkEqualWithId)>
  <div class="input-group-append">
    <span class="input-group-text">
      <a href='#' @eventShowPassword(name) ><i @id(s"${name}Eye") class="fa fa-eye-slash"></i></a>
    </span>
  </div>
</div>
@{ if (hlp!="") Html(_hlpFor(name, hlp)) }