@*
 * Template for input select option country
 *@
@import clientviews.component.helper.html._
@import shared.utils.UseCaseParam 
@import shared.utils.twirlhelper._ 

@(name: String, _class: String="form-control-sm", _default:Int=(-99))(implicit ucp: UseCaseParam)

<select @id(name) class='form-control @{_class}' >
  <option value='99' disabled selected>@msg_("CompPhaseStatus.99")</option>
  <option value='1' disabled>@msg_("CompPhaseStatus.1")</option>
  <option value='2' disabled>@msg_("CompPhaseStatus.2")</option>
  <option value='3' disabled>@msg_("CompPhaseStatus.3")</option>
  <option value='4' disabled>@msg_("CompPhaseStatus.4")</option>
</select>