@*
 * Template for input checkbox 
 *@
@import clientviews.component.helper.html._
@import shared.utils.UseCaseParam 
@import shared.utils.twirlhelper._ 
@(key: String, _class: String, coId:Long=0, coPhId:Int=0, chk: Boolean=false, small: Boolean=false)(implicit ucp: UseCaseParam)
@checked(value: Boolean) = @{ if(value) "checked" else "" } 
<div class="form-check @_class">
  <input class="form-check-input" @checked(chk) type="checkbox" value="" @id(key) @actionEvent(key, "onchange") data-coId='@coId' data-coPhId='@coPhId'>
  <label class='form-check-label' @forAttr(key)>
    @if(small){ 
      <small>@Html(msgLbl(key))</small> 
    }else{
      @Html(msgLbl(key))
    }
  </label>
</div>